In [1]:
import pandas as pd

exp_csv_path = "expenses.csv"
pri_csv_path = "prices.csv"

pd.set_option('display.max_columns', 16)


pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)


df_exp = pd.read_csv(exp_csv_path)
df_pri = pd.read_csv(pri_csv_path)

df_exp

# print(df_exp[["REF_DATE","GEO", "Food expenditures, summary-level categories", "VALUE"]])
# print("---")
# print(df_pri[["REF_DATE","GEO", "Products", "VALUE"]])

,REF_DATE,GEO,DGUID,Statistic,"Food expenditures, summary-level categories",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2010,Canada,2016A000011124,Average expenditure per household,Food expenditures,Dollars,81,units,0,v54531258,1.1.1,7850.0,NaN,NaN,NaN,0
1,2010,Canada,2016A000011124,Average expenditure per household,Food purchased from stores,Dollars,81,units,0,v54531259,1.1.2,5709.0,NaN,NaN,NaN,0
2,2010,Canada,2016A000011124,Average expenditure per household,Bakery products,Dollars,81,units,0,v54531260,1.1.3,581.0,NaN,NaN,NaN,0
3,2010,Canada,2016A000011124,Average expenditure per household,Bread and unsweetened rolls and buns,Dollars,81,units,0,v54531261,1.1.4,273.0,NaN,NaN,NaN,0
4,2010,Canada,2016A000011124,Average expenditure per household,Bread,Dollars,81,units,0,v64481413,1.1.180,207.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29947,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant meals,Dollars,81,units,0,v64485802,13.1.178,2724.0,NaN,NaN,NaN,0
29948,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant dinners,Dollars,81,units,0,v64482476,13.1.259,1438.0,NaN,NaN,NaN,0
29949,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant lunches,Dollars,81,units,0,v64482477,13.1.260,1047.0,NaN,NaN,NaN,0
29950,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant breakfasts,Dollars,81,units,0,v64482478,13.1.261,238.0,NaN,NaN,NaN,0
29951,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant snacks and beverages,Dollars,81,units,0,v64485806,13.1.179,363.0,NaN,NaN,NaN,0

In [2]:
df_exp.shape

(29952, 16)

In [3]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29952 entries, 0 to 29951
Data columns (total 16 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   REF_DATE                                     29952 non-null  int64
 1   GEO                                          29952 non-null  object
 2   DGUID                                        29952 non-null  object
 3   Statistic                                    29952 non-null  object
 4   Food expenditures, summary-level categories  29952 non-null  object
 5   UOM                                          29952 non-null  object
 6   UOM_ID                                       29952 non-null  int64
 7   SCALAR_FACTOR                                29952 non-null  object
 8   SCALAR_ID                                    29952 non-null  int64
 9   VECTOR                                       29952 non-null  object
 10  COORDINATE                                   29952 non-null  object
 11  VALUE                                        26489 non-null  float64
 12  STATUS                                       3463 non-null   object
 13  SYMBOL                                       0 non-null      float64
 14  TERMINATED                                   0 non-null      float64
 15  DECIMALS                                     29952 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 3.7+ MB

In [4]:
df_exp.head()
df_exp.tail()

,REF_DATE,GEO,DGUID,Statistic,"Food expenditures, summary-level categories",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
29947,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant meals,Dollars,81,units,0,v64485802,13.1.178,2724.0,NaN,NaN,NaN,0
29948,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant dinners,Dollars,81,units,0,v64482476,13.1.259,1438.0,NaN,NaN,NaN,0
29949,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant lunches,Dollars,81,units,0,v64482477,13.1.260,1047.0,NaN,NaN,NaN,0
29950,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant breakfasts,Dollars,81,units,0,v64482478,13.1.261,238.0,NaN,NaN,NaN,0
29951,2019,British Columbia,2016A000259,Average expenditure per household,Restaurant snacks and beverages,Dollars,81,units,0,v64485806,13.1.179,363.0,NaN,NaN,NaN,0

In [5]:
df_exp.loc[df_exp["REF_DATE"]==2010]

,REF_DATE,GEO,DGUID,Statistic,"Food expenditures, summary-level categories",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2010,Canada,2016A000011124,Average expenditure per household,Food expenditures,Dollars,81,units,0,v54531258,1.1.1,7850.0,NaN,NaN,NaN,0
1,2010,Canada,2016A000011124,Average expenditure per household,Food purchased from stores,Dollars,81,units,0,v54531259,1.1.2,5709.0,NaN,NaN,NaN,0
2,2010,Canada,2016A000011124,Average expenditure per household,Bakery products,Dollars,81,units,0,v54531260,1.1.3,581.0,NaN,NaN,NaN,0
3,2010,Canada,2016A000011124,Average expenditure per household,Bread and unsweetened rolls and buns,Dollars,81,units,0,v54531261,1.1.4,273.0,NaN,NaN,NaN,0
4,2010,Canada,2016A000011124,Average expenditure per household,Bread,Dollars,81,units,0,v64481413,1.1.180,207.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,2010,British Columbia,2016A000259,Average expenditure per household,Restaurant meals,Dollars,81,units,0,v64485802,13.1.178,2253.0,NaN,NaN,NaN,0
3324,2010,British Columbia,2016A000259,Average expenditure per household,Restaurant dinners,Dollars,81,units,0,v64482476,13.1.259,1310.0,NaN,NaN,NaN,0
3325,2010,British Columbia,2016A000259,Average expenditure per household,Restaurant lunches,Dollars,81,units,0,v64482477,13.1.260,775.0,NaN,NaN,NaN,0
3326,2010,British Columbia,2016A000259,Average expenditure per household,Restaurant breakfasts,Dollars,81,units,0,v64482478,13.1.261,169.0,NaN,NaN,NaN,0
3327,2010,British Columbia,2016A000259,Average expenditure per household,Restaurant snacks and beverages,Dollars,81,units,0,v64485806,13.1.179,304.0,NaN,NaN,NaN,0